@import "tailwindcss";
@import "@heroui/styles";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:root[data-theme="light"] {
  --background: #ececec;
  --foreground: #ffffff;

  --theme-primary: #4e67fc;
  --theme-secondary-purple: #7565f3;
  --theme-background: #070b1e;

  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-white: white;
}

:root[data-theme="dark"] {
  --background: #070b1e;
  --foreground: #0b0f24;

  --theme-primary: #4e67fc;
  --theme-secondary-purple: #7565f3;
  --theme-background: #070b1e;

  --text-primary: #f7f7f7;
  --text-secondary: #64748b;
  --text-white: white;
}


@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-theme-primary: var(--theme-primary);
  --color-theme-background: var(--theme-background);
  --color-theme-secondary-purple: var(--theme-secondary-purple);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-white: var(--text-white);

  /* fonts / UI-[font-sans], heading[font-serif] */
  --font-serif: var(--font-bookverse-serif), serif;
  --font-sans: var(--font-bookverse-sans), sans-serif; 

  /* breakpoints */
  /* 448px */
  --breakpoint-xs: 28rem;
  /* 576px */
  --breakpoint-tablet: 36rem;
  /* 992px */
  --breakpoint-desktop: 62rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.3s ease;
}